node_modules/
**/node_modules/
dist/
**/dist/
.vs/
**/.vs/
build/
**/build/
.cache/
*.exe
*.asar
# Folders with files > 10MB
/default/.vs/default/copilot-chat/
/default/AdminDefaultMobile/node_modules/
/default/android/app/build/intermediates/
/default/android/app/build/outputs/apk/debug/
/default/android/app/src/main/assets/
/default/build/static/js/
/default/dist/
/default/dist/win-unpacked/
/default/dist/win-unpacked/resources/
/default/node_modules/.cache/default-development/
/default/node_modules/app-builder-bin/linux/
/default/node_modules/app-builder-bin/mac/
/default/node_modules/app-builder-bin/win/
/default/node_modules/app-builder-bin/win/x64/
/default/node_modules/ckeditor5/dist/browser/
/default/node_modules/electron/dist/
/default/node_modules/typescript/lib/
/frontend/node_modules/.cache/default-development/
/frontend/node_modules/typescript/lib/
